.color-card{
    width: 20%;
}
.pink{
    color: #DA4E4E;
    background-color: #DA4E4E;
}
.blue{
    color: #101731;
    background-color: #101731;
}
.peach{
    color: #F7D3AE;
    background-color: #F7D3AE;
}
.lavender{
    color: #EDE7F8;
    background-color: #EDE7F8;
}
.white{
    color: #FCFCFC;
    background-color: #FCFCFC;
}
.grey{
    color: #2A2A2A;
    background-color: #2A2A2A;
}
.color-row{
    display: flex;
}
.color-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}