
.logo{
    width : 100%;
}

h2{
    color : white;
    background-color : #D05663;
}

.playfair-disp{
    font-family: "Playfair Display", seriff ;
}

.raleway-disp{
    font-family: "Raleway", seriff;
}

a{
    color : #D05663;
}
a:hover{
    color :#a6414b;
}