.nav-ex-container{
    background-color: #2A2A2A;
    color: #EDE7F8;
    align-items: center;
    width: 100%;
}

.download-btn{
    background-color: #D9D9D9;
    color: black;
    margin-left: auto;
}

.nav-ex-container div:hover{
    color: white;
}